./build/*
main
build
build/*
.cache/


*.DS_Store
*/.DS_Store
*DailyLog
ud.sh
ur.sh
excels/
/.vscode
/build/
/old/
/regularOut/
/obj/

# Visual Studio
.vs/
out/
install/


src/build
CMakeFiles/
runner/
